absl-py==1.4.0
addict==2.4.0
affine==2.4.0
albumentations 
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow 
asttokens 
astunparse==1.6.3
attrs 
autopep8==2.0.1
Babel 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach 
blessed 
CacheControl 
cachetools==5.3.0
cachy 
certifi==2023.5.7
cffi==1.15.0
chardet==5.1.0
charset-normalizer 
cleo==0.7.6
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
clikit==0.4.3
cloudpickle 
colorama 
contourpy==1.0.7
croniter 
cryptography 
cycler==0.11.0
cytoolz 
dask 
dateutils 
debugpy 
decorator 
deepdiff 
defusedxml 
efficientnet==1.0.0
einops 
entrypoints 
exceptiongroup 
executing 
fastapi 
fastjsonschema 
filelock 
flatbuffers==2.0.7
flit_core 
fonttools==4.38.0
fsspec 
gast==0.4.0
gmpy2 
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
h11 
h5py==2.10.0
html5lib 
huggingface-hub==0.15.1
idna 
image-classifiers==1.0.0
imagecodecs-lite 
imageio==2.25.0
imgaug 
importlib-metadata==6.0.0
importlib-resources==5.12.0
inquirer 
ipykernel 
ipython 
ipython-genutils==0.2.0
itsdangerous 
jedi 
jeepney 
Jinja2 
joblib==1.2.0
json5==0.9.6
jsonschema 
jupyter==1.0.0
jupyter-console==6.4.0
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring 
kiwisolver==1.4.4
libclang==15.0.6.1
lightning 
lightning-cloud 
lightning-utilities 
linkedin-scraper==2.8.2
locket 
lockfile==0.12.2
lxml==4.6.3
Markdown==3.4.1
markdown-it-py 
MarkupSafe==2.1.2
matplotlib 
matplotlib-inline 
mdurl 
mistune 
mpmath 
msgpack 
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx==3.0
notebook 
notebook_shim 
numpy==1.24.3
opencv-python==4.5.5
opt-einsum==3.3.0
ordered-set 
orjson 
packaging==21.3
pandas==1.3.5
pandocfilters 
parso 
partd 
pastel 
pexpect 
pickleshare 
Pillow==9.5.0
pkginfo 
platformdirs 
poetry 
pooch 
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess==0.7.0
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydantic 
pygame==2.3.0
Pygments 
PyJWT 
pylev 
pyparsing==3.0.7
pyrsistent 
PySocks 
pystac==1.6.1
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart 
pytorch-lightning 
pytz 
PyWavelets==1.4.1
PyYAML==6.0
pyzmq 
qtconsole==5.2.2
qudida 
rasterio==1.3.5
readchar 
regex==2023.6.3
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.8.0
rich 
rsa==4.9
safetensors==0.3.1
scikit-image==0.19.3
scikit-learn==1.2.1
scipy 
SecretStorage 
segmentation-models==1.0.1
selenium==3.141.0
Send2Trash 
shapely 
shellingham 
six==1.16.0
sniffio==1.2.0
snuggs==1.4.7
soupsieve 
stack-data 
starlette 
starsessions 
sympy 
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado==0.12.1
threadpoolctl==3.1.0
tifffile==2023.1.23.1
tinycss2 
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.5.11
toolz 
torch==2.0.1
torchaudio==2.0.2
torchinfo==1.8.0
torchmetrics 
torchvision==0.15.2
tornado 
tqdm 
traitlets 
transformers==4.30.1
triton==2.0.0
typing_extensions==4.4.0
unicodedata2 
urllib3==1.26.16
uvicorn 
wcwidth 
webencodings==0.5.1
websocket-client==1.2.3
websockets 
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.15.0

